alias v="vim"

_eza_ignore_patterns() {
  [[ -f ~/.ignore ]] || return 0
  grep -Ev '^\s*(#|$)' ~/.ignore | sed -E 's/^\*\*?\///; s/\/$//' | paste -sd '|' -
}
alias l="eza --color=auto --icons=never --sort=type"
alias ll='l -T -I "$(_eza_ignore_patterns)"'

alias rm="rm -i"
alias md="mkdir -p"
alias rd="rmdir"

alias -g ..="cd .."
alias -g ...="cd ../.."
alias -g ....="cd ../../.."

alias sbcl="rlwrap sbcl"
alias chez="rlwrap chez --eedisable"
