" emulated plugins
set surround
set commentary
set ReplaceWithRegister
set textobj-entire

" basics
set number
set relativenumber
set clipboard+=unnamed

" search
set incsearch
set hlsearch
set ignorecase
set smartcase

" intellij setting
set ideajoin
set visualbell
set noerrorbells
set showmode

" intellij keymaps
nmap == :action ReformatCode<cr>
nmap <c-w> :action CloseContent<cr>
nmap <c-l> :action NextTab<cr>
nmap <c-h> :action PreviousTab<cr>
nmap <c-p> :action RecentFiles<cr>

nmap gd :action GotoDeclaration<cr>
nmap gf :action GotoFile<cr>
nmap gs :action GotoSymbol<cr>
nmap gt :action GotoTest<cr>
nmap gi :action GotoImplementation<cr>

nmap <s-m> :action GotoNextError<cr>
nmap <s-n> :action GotoPreviousError<cr>

nmap R :action RenameElement<cr>
nmap U :action FindUsages<cr>

nmap <s-b> :action ToggleLineBreakpoint<cr>
nmap <s-1> :action Run<cr>
nmap <s-2> :action Debug<cr>
nmap <s-s> :action Stop<cr>
