" emulated plugins
set surround
set commentary
set ReplaceWithRegister
set textobj-entire

" basics
set number
set relativenumber
set clipboard+=unnamed

" search
set incsearch
set hlsearch
set ignorecase
set smartcase

" intellij setting
set ideajoin
set visualbell
set noerrorbells
set showmode

" intellij keymaps
nmap == :action ReformatCode<cr>
nmap <c-w> :action CloseContent<cr>
nmap <c-l> :action NextTab<cr>
nmap <c-h> :action PreviousTab<cr>
nmap <c-p> :action RecentFiles<cr>

nmap gd :action GotoDeclaration<cr>
nmap gf :action GotoFile<cr>
nmap gs :action GotoSymbol<cr>
nmap gt :action GotoTest<cr>
nmap gi :action GotoImplementation<cr>

nmap M :action GotoNextError<cr>
nmap N :action GotoPreviousError<cr>

nmap R :action RenameElement<cr>
nmap U :action FindUsages<cr>

nmap ! :action Run<cr>
nmap @ :action Debug<cr>
nmap S :action Stop<cr>
nmap B :action ToggleLineBreakpoint<cr>

nmap <c-s-t> :action ReopenClosedTab<cr>