alias v=nvim
alias p=podman
alias clipboard='xclip -sel clip'
alias c=clear
alias t=tmux
alias rm="rm -ir"
alias gitlog="git log --oneline | head -20 | cat"

alias l='ls -1X \
-I "__pycache__" \
-I "node_modules" \
'
