" emulated plugins
set surround
set commentary
set ReplaceWithRegister
set textobj-entire

" basics
set number
set relativenumber
set clipboard+=unnamed

" search
set incsearch
set hlsearch
set ignorecase
set smartcase

" intellij setting
set ideajoin
set visualbell
set noerrorbells
set showmode

" intellij keymaps
nnoremap == :action ReformatCode<cr>

nnoremap <space><space> :noh<cr>

nnoremap <c-w> :action CloseContent<cr>
nnoremap <c-tab> :action NextTab<cr>
nnoremap <c-s-tab> :action PreviousTab<cr>
nnoremap <c-p> :action SearchEverywhere<cr>

nnoremap gd :action GotoDeclaration<cr>
nnoremap gi :action GotoImplementation<cr>
nnoremap gt :action GotoTest<cr>

nnoremap <c-i> :action Generate<cr>
nnoremap <c-m> :action GotoNextError<cr>
nnoremap <c-n> :action GotoPreviousError<cr>

nnoremap R :action RenameElement<cr>

nnoremap <c-s-t> :action ReopenClosedTab<cr>
